[Desktop Entry]
Name=VirtualBox virtual machines runner
Comment=Start VirtualBox virtual machines
Comment[ru]=Запускает виртуальные машины VirtualBox
Comment[es]=Lanzador de máquinas virtuales VirtualBox
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=virtualbox-ose
X-KDE-Library=krunner_vbox
X-KDE-PluginInfo-Name=krunner_vbox
X-KDE-PluginInfo-Version=0.4.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-PluginInfo-Email=alvaro.nieto@gmail.com
X-KDE-PluginInfo-Author=Alvaro Nieto Gil
X-KDE-PluginInfo-Website=https://github.com/alvanieto/vbox-runner
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
